{% extends "base.html" %}
{% block content %}

<h1 class="page-title">Campanhas de Saúde</h1>

<div class="campanhas-container">
    <a href="https://www.instagram.com/p/DFKs0pbxAvB/?igsh=MXRhc200cThuMWh3bA==" class="campanha-card-link">
        <div class="campanha-card">
            <div class="campanha-img-wrapper">
                <img src="\static\images\campanhasImg\campDiaD.jpg" 
                     alt="Campanha de Multivacinação" 
                     class="campanha-img">
            </div>
            <div class="campanha-overlay">
                <span class="campanha-cta">Saiba Mais</span>
            </div>
        </div>
    </a>

    <a href="https://www.instagram.com/p/DOtgN90AKLM/?igsh=MTN5Yjhwa3ExcGx4dg==" class="campanha-card-link">
        <div class="campanha-card">
            <div class="campanha-img-wrapper">
                <img src="\static\images\campanhasImg\dia d.jpg" 
                     alt="Campanha Sarampo" 
                     class="campanha-img">
            </div>
            <div class="campanha-overlay">
                <span class="campanha-cta">Saiba Mais</span>
            </div>
        </div>
    </a>

    <a href="https://www.instagram.com/p/DQ-X4egDSDA/?igsh=dDd2NzA4ODRoOHUz" class="campanha-card-link">
        <div class="campanha-card">
            <div class="campanha-img-wrapper">
                <img src="\static\images\campanhasImg\novAzul.jpg" 
                     alt="Campanha Câncer de Próstata" 
                     class="campanha-img">
            </div>
            <div class="campanha-overlay">
                <span class="campanha-cta">Saiba Mais</span>
            </div>
        </div>
    </a>

    <a href="https://www.instagram.com/p/DJU8YusPiEn/?igsh=MTg5YTJzYzV5a214eg==" class="campanha-card-link">
        <div class="campanha-card">
            <div class="campanha-img-wrapper">
                <img src="\static\images\campanhasImg\reducaoDengue.jpg" 
                     alt="Campanha Dengue" 
                     class="campanha-img">
            </div>
            <div class="campanha-overlay">
                <span class="campanha-cta">Saiba Mais</span>
            </div>
        </div>
    </a>

    <a href="https://www.instagram.com/p/DQm8U_OkRh8/?igsh=MTRrcDF0YWoxYno3dg==" class="campanha-card-link">
        <div class="campanha-card">
            <div class="campanha-img-wrapper">
                <img src="\static\images\campanhasImg\unMovel.jpg" 
                     alt="Campanha Saúde Comunidade" 
                     class="campanha-img">
            </div>
            <div class="campanha-overlay">
                <span class="campanha-cta">Saiba Mais</span>
            </div>
        </div>
    </a>
</div>

{% endblock %}
